{{!-- this is the homepage --}}

{{!< default}}

<main class="site-main">

    {{!-- typographic header --}}
    
    <section class="gh-about gh-outer{{#match @custom.header_section_layout "!=" "Typographic profile"}} {{else}}{{#unless @site.icon}} no-image{{/unless}}{{/match}}">
    <div class="gh-about-inner gh-inner">
        {{#match @custom.header_section_layout "!=" "Typographic profile"}}

        {{else}}
            {{#if @site.icon}}
                <img class="gh-about-image" src="{{@site.icon}}" alt="{{@site.title}}">
            {{/if}}
        {{/match}}
    
    {{!-- Popular tags section --}}
    {{#get "tags" limit="5" order="count.posts desc" as |popularTags|}}
    {{#if popularTags}}
        <div class="gh-outer">
            <section class="popular-tags-wrapper gh-inner">
                <h2 class="popular-tags-title">Popular Tags</h2>
                <div class="popular-tags-feed owl">
                    {{#foreach popularTags}}
                        <tag class="popular-tag">
                            <a href="{{url}}">{{name}}</a>
                        </tag>
                    {{/foreach}}
                </div>
            </section>
        </div>
    {{/if}}
{{/get}}


   
 
    
        {{!-- typographic header --}}

    <div class="post-feed gh-feed gh-canvas">
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
    </div>

    {{pagination}}

</main>